"*":
  "exception-reporting":
    userId: "05b398f7-45b3-0eff-3ebf-34322abfa66e"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
